 <header id="header">
                <div id="banner"></div>
                <div id="header-outer" class="outer">
                    <div id="heade-inner" class="inner">
                        <nav id="main-nav">
                            <a class="main-nav-link" href="http://hello123.pythonanywhere.com.css"></a>
                            <a class="main-nav-link" href="http://hello123.pythonanywhere.com.css"></a>
                            <a class="main-nav-link" href="http://hello123.pythonanywhere.com.css"></a>
                        </nav>
                        <div class="d1">
                            <form method="get" action="/search/">
                                <input type="text" name="q" placeholder="SEARCH">
                            </form>
                        </div>
                    </div>
                </div>
            </header>