<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <script>
        function test(){
            location.href='/tologin/?uname=zhansan&pwd=123';
        }
    </script>
</head>
<body>
    <form action="/tologin/" method="get"/>
        <p>
            UserName: <input type="text" name="uname"/>
        </p>
         <p>
            Password: <input type="password" name="pwd"/>
        </p>
         <p>
            <input type="submit" value="Submit">
        </p>
    </form>

    <a href="/tologin/?uname=zhangsan&pwd=123">SuperTransfer</a><br/>

    <input type="button" value="test" onclick="test()">
</body>
</html>